@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  font-family: 'IBM Plex Sans', sans-serif;
}

p{
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.topBody{
  z-index: 50;
  transform: translateY(300px);
}

.post{
  width: 100%;
}

.right-sticky{
  width: 40%;
}

.post-content{
  
}

.lg-nav-sections p{
  font-weight: 400;
  margin-inline: 0.7rem;
  color: #8A8A8A;
}

.lg-nav{
  width: 80%;
}

.info{
  transform: translateY(-14px);
}

@media only screen and (min-width:720px) {
  .post{
    width: 70%;
  }
}